@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /*fonts*/
/*reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*header*/
header{
    padding: 30px;
    width: 100%;
 display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
/*titulo*/
h1{
    font-family: 'Courgette', cursive;
}
/*Buscador o search*/
input{
padding: 8px 60px 5px 60px;
justify-content: center;
text-align: center;
}
 header div{
    float: left;
    width: 25%;         
} 
/* pseudoclase :focus*/
.foco:focus{
    color: rgb(175, 200, 255);
    background:rgb(118, 188, 253);
}
/*iconos*/
li{
    float: left;
    list-style: none;
    width: 0%;
    padding: 10px 00px 10px 50px;
}
li:hover{
    color: aquamarine;
}
/*section*/
main{
    background: rgb(133, 200, 202);
    width: 100%;
}
section{
    margin: auto;
    padding-top: 30px;
    width: 80%;
}

img{
    width: 32%;
    margin: 5px;
}
footer{
    background-color: yellow;
    height: 30px;
}